* {
    border: none;
    border-radius: 0;
    font-family: JetBrinsMono Nerd Font, monospace;
    font-weight: bold;
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
}

/* tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
} */

#workspaces button {
    color: #44475a;
    margin-right: 0px;
    padding-bottom: 0px;
}

#workspaces button.active {
    color: #f8f8f2;
}

/* #workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 10px;
} */

/* #workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
} */

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 10px;
}


#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#cpu,
#memory,
#temperature,
#backlight {
    background: #282a36;
    padding: 0px 10px;
    margin-bottom: 5px;
    /* margin: 4px 0px; */
    /* border: 1px solid #181825; */
}

#workspaces {
    border-radius: 10px;
    margin-left: 5px;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}


#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#pulseaudio {
    color: #8be9fd;
    border-radius: 10px 0px 0px 10px;
}

#network {
    color: #f8f8f2;
}

/*#cpu {
    color: #ff79c6;
} */

#battery {
    color: #50fa7b;
    border-radius: 0px 0px 0px 0px;
}

#clock {
    color: #ffb86c;
    border-radius: 0px 10px 10px 0px;
}
